$primaryGradientColor: linear-gradient(90deg, #766dff 0%, #88f3ff 100%);
$primaryColor: #222222;
$secondaryColor: #777777;

@mixin transform($value) {
  transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  -webkit-transform: $value;
}

@mixin transition($value) {
  transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  -webkit-transition: $value;
}

@mixin transition-delay($value) {
  transition-delay: $value;
  -moz-transition-delay: $value;
  -o-transition-delay: $value;
  -webkit-transition-delay: $value;
}

@mixin filter($value) {
  filter: $value;
  -webkit-filter: $value;
}

@mixin animation($value) {
  animation: $value;
  -moz-animation: $value;
  -o-animation: $value;
  -webkit-animation: $value;
}

@mixin animation-delay($value) {
  animation-delay: $value;
  -moz-animation-delay: $value;
  -webkit-animation-delay: $value;
  -o-animation-delay: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

/* Margin */
.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}
